
{% extends 'base.html'%}
{% block title %} Our Services | Bhat Constructions{% endblock %}
{% load static %}
{% block body %}
<!-- end navbar -->
<header class="page-header" data-background="{% static 'images/3.jpg'%}" data-stellar-background-ratio="1.15">
  <div class="container">
    <h1>Services</h1>
    <p>We treat the customer like they would want to be treated</p>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Services</li>
    </ol>
  </div>
  <!-- end container --> 
</header>
<!-- end page-header -->

<div class="container" style="margin-top: 120px;">
  <div class="row">
      
        <figure class="snip1321 col-md-4"><img src="{% static 'images/services/7.jpg'%}" alt="sq-sample26"/>
        <figcaption><i class="ion-upload"></i>

          <h2>Framing PFR & DPR</h2>
        </figcaption><a href="#"></a>
      </figure>
      <figure class="snip1321  col-md-4"><img src="{% static 'images/services/1.jpg'%}" alt="sq-sample27"/>
        <figcaption><i class="ion-stats-bars"></i>

          <h2>Interior Design</h2>
        </figcaption><a href="#"></a>
      </figure>
      <figure class="snip1321 col-md-4"><img src="{% static 'images/services/2.jpg'%}" alt="sq-sample28"/>
        <figcaption><i class="ion-share"></i>

          <h2>Valuation</h2>
        </figcaption><a href="#"></a>
      </figure>
      <figure class="snip1321 col-md-4"><img src="{% static 'images/services/3.jpg'%}" alt="sq-sample26"/>
        <figcaption><i class="ion-upload"></i>

          <h2>Estimation & Cost Engineering</h2>
        </figcaption><a href="#"></a>
      </figure>
      <figure class="snip1321 col-md-4"><img src="{% static 'images/services/4.jpg'%}" alt="sq-sample27"/>
        <figcaption><i class="ion-stats-bars"></i>

          <h2>Deals in Building Material </h2>
        </figcaption><a href="#"></a>
      </figure>
      <figure class="snip1321 col-md-4"><img src="{% static 'images/services/5.jpg'%}" alt="sq-sample28"/>
        <figcaption><i class="ion-share"></i>
          <h2>Construction of Residential & Commercial Houses</h2>
        </figcaption><a href="#"></a>
      </figure>   
      <figure class="snip1321 col-md-4"><img src="{% static 'images/services/6.jpg'%}" alt="sq-sample28"/>
        <figcaption><i class="ion-share"></i>

          <h2>Property Dealer</h2>
        </figcaption><a href="#"></a>
      </figure> 
     
 
  </div>
  

</div>

{% endblock %}
